<b>You are clear for takeoff</b>

<p>
  Some player flights may be delayed to start. For such flights, it will not be
  possible to enter the cockpit until its mission start time, shown in the flight
  information window.
</p>

<p>
  To reduce delays and prevent airfield congestion, we recommend using Fast Forward. For more information, see the 
  <a
    href="https://github.com/dcs-retribution/dcs-retribution/wiki/Fast-forward"
    style="color: #ffffff"
  >fast forward page</a> on our wiki
</p>

<p>
  To avoid delays entirely, use the "Never delay player flights" option in the
  mission generation settings. Note that this will <strong>not</strong> adjust
  the timing of your mission; this option only allows you to wait in the
  cockpit.
</p>

<p>
  For more information, see the
  <a
    href="https://github.com/dcs-retribution/dcs-retribution/wiki/Mission-planning"
    style="color: #ffffff"
  >mission planning documentation</a> on our wiki.
</p>

<h2>Launching the mission:</h2>

<p>
  Launch the <code>retribution_nextturn</code> mission as you normally would for single-
  or multi-player.
</p>

<p>
  For advice on using a dedicated server to play DCS Retribution, see
  <a
    style="color: #ffffff"
    href="https://github.com/dcs-retribution/dcs-retribution/wiki/Dedicated-Server-Guide"
  >the guide</a> on our wiki.
</p>

<h2>Finishing</h2>

<p>Once you have played the mission, click on the "Accept Results" button.</p>

<p>
  If DCS Retribution does not detect mission end, use the manually submit button,
  and choose the state.json file.
</p>
